a{
    text-decoration: none;
    color: black;
}

nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: aquamarine;
    padding: 2rem 3rem;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 100%;
}

.tab{
    display: inline-block;
    margin-left: 30px;
}


body{
    background-color: lightgray;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}


img{
    width: 250px;
    height: 220px;
    margin-left: 15px;
    border-radius: 15px;
    border: 2px solid black;
}


table{
    margin-left: 15px;
}

aside{
    width: 30%;
    background-color: darkcyan;
    border-radius: 15px;
    float: right;
    margin-left: 20px;
    padding-left: 20px;
}


footer{
    background-color: aquamarine;
    text-align: center;
    clear: right;
    padding-top: 15px;
    font-family: "Sono", sans-serif;
    display: flex; 
    justify-content: center;
}


header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  



